<!DOCTYPE html>
<html lang="en" ng-app="kitchensink">

<head>
    <meta charset="utf-8">

    <title>InvenTool</title>

    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/prism.css">
    <link rel="stylesheet" href="css/mine.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
    <style>
        pre {
            margin-left: 15px !important
        }

    </style>

    <script src="lib/prism.js"></script>
    <script>
        (function() {
            var fabricUrl = 'lib/fabric.js';
            if (document.location.search.indexOf('load_fabric_from=') > -1) {
                var match = document.location.search.match(/load_fabric_from=([^&]*)/);
                if (match && match[1]) {
                    fabricUrl = match[1];
                }
            }
            document.write('<script src="' + fabricUrl + '"><\/script>');
        })();

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>

    <script src="js/canvas-to-blob.js"></script>

    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="js/paster.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/kitchensink.css">
    <link rel="stylesheet" href="css/mine.css">

    <link href='http://fonts.googleapis.com/css?family=Plaster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet">
</head>

<body>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>
        (function() {

            if (document.location.hostname === 'localhost') {
                var links = document.getElementById('header').getElementsByTagName('a');
                for (var i = 0, len = links.length; i < len; i++) {
                    // very retarted fix but fuck it
                    links[i].href = links[i].href.replace('fabricjs.com', 'localhost:4000');
                }
            } else {
                ! function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");
            }
        })();

    </script>


    <div id="bd-wrapper" ng-controller="CanvasControls">



        <div id="canvas-wrapper">
            <canvas class="center" id="canvas" width="1640" height="900" margin-bottom="2%"></canvas>
             <div class="textinsert"> <button class="btn btn-textinsert addbtn" ng-click="addTextbox()"></button></div>
        </div>



        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img">
            <div id="caption"></div>

            <button class="btn btn-object-action addbtn" id="remove-selected" ng-click="removeSelected()">
                Cancella
            </button>
        </div>

        <div id="Modaldraw" class="modaldraw">
            <span class="close">&times;</span>
            <img class="modal-contentdraw" id="draw">
            <div id="caption"></div>
            <input type="file" id="StoryBoardImageToUpload">

        </div>

        <div id="Modalinfo" class="modalinfo">
            <span class="close">&times;</span>

            <div id="title"> INSTRUCTIONS
            </div>
            <div class="InfoStep active" id="step1">
                <div id="texttitle"> 1.START BY SELECTING A PERSONA AND A SCENARIO THAT YOU HAVE AGREED TO FOCUS ON
                </div>
                <div id="textparagraph"> Start by selecting a persona and a scenario that you have agreed to focus on
                </div>

                <div id="time"> Approx 5 minutes
                </div>
            </div>

            <div class="InfoStep" id="step2">
                <div id="texttitle"> 2.REFINE THE MISSION
                </div>
                <div id="textparagraph"> Challenge yourself to think creatively about the purpose or mission of your idea. Use up to three Missions cards to challenge and guide your idea.
                </div>

                <div id="time"> Approximate time from phase 2 to 5: 20 minute
                </div>
            </div>
            
              <div class="InfoStep" id="step3">
                <div id="texttitle"> 3.WHAT OBJECTS ARE CENTRAL TO YOUR USER?
                </div>
                <div id="textparagraph"> What objects are central to your users and how they can help solving the needs you have identified? Look through the Things cards, select a few of them as your starting point and place them on the card placeholders in the things section of the board.
                </div>

                <div id="time"> 
                </div>
            </div>
            
              <div class="InfoStep" id="step4">
                <div id="texttitle"> 4.WHAT ACTIONS TRIGGER THE THING? 
                </div>
                <div id="textparagraph"> Explore what types of input are needed, whether they are Human Actions, Sensors or Services from a connected source. A thing can have multiple triggers, and the same trigger can affect multiple things. Place your selections on the card placeholders in the triggers section of the board.
                </div>

                <div id="time"> Approx 10 minutes
                </div>
            </div>
            
              <div class="InfoStep" id="step5">
                <div id="texttitle"> 5.HOW DOES THE OBJECT RESPOND WHEN IT IS TRIGGERED?
                </div>
                <div id="textparagraph"> Responses allow the object to communicate back to the user when it is triggered, either by a direct Feedback from the object itself or by sending data to an app or service through Services. Place your selections in the Responses section of the board.
                </div>

                <div id="time"> 
                </div>
            </div>
            
              <div class="InfoStep" id="step6">
                <div id="texttitle"> 6.FLESH OUT THE IDEA
                </div>
                <div id="textparagraph"> The Storyboard section of the board is your sandbox to describe and illustrate the idea you are working on. Try to make notes and sketches to show how, where and when the concept works and looks, and what it might feel like to use it. Imagine a story which depicts a use case for your object. For each storyboard section you can load an image from your computer or sketch it directly on a canvas by selecting the “draw” button

                </div>

                <div id="time">Approximate time for phase 6 and 7: 10 minute
                </div>
            </div>
            
              <div class="InfoStep" id="step7">
                <div id="texttitle"> 7.REFLECT AND IMPROVE
                </div>
                <div id="textparagraph"> Look through  different Criteria and discuss how well your concept scores on each. Select a few strenghts and weaknesses of the concept, and see if you can come up with improvements to resolve the weaknesses, you can change the other cards and the storyboard if you feel the need.
Write down a brief description of the final idea in the Elevator Pitch box.

                </div>

                <div id="time"> Approx 10 minutes
                </div>
            </div>

            <div id="stepsbutton"> STEPS
                <div class="bulletWrap">
                    <div class="before"></div>
                    <div class="after"></div>
                    <div class="bulletTrack table">
                        
                        <div class="slide tableCell buttonInfoStep" data-step="1"> 
                            
                            <a class="active" class="" href=""><i class="fa fa-user">1</i></a>
                        </div>
                        
                        <div class="slide tableCell buttonInfoStep" data-step="2">
                            <a href=""><i class="fa fa-user">2</i></a>
                        </div>
                        
                        <div class="slide tableCell buttonInfoStep" data-step="3">
                            <a href=""><i class="fa fa-user">3</i></a>
                        </div>
                        
                        <div class="slide tableCell buttonInfoStep" data-step="4">
                            <a href=""><i class="fa fa-user">4</i></a>
                        </div>
                        
                        <div class="slide tableCell buttonInfoStep" data-step="5">
                            <a class="" href=""><i class="fa fa-user">5</i></a>
                        </div>
                        
                        <div class="slide tableCell buttonInfoStep" data-step="6">
                            <a href=""><i class="fa fa-user">6</i></a>
                        </div>
                        
                        <div class="slide tableCell buttonInfoStep" data-step="7">
                            <a href=""><i class="fa fa-user">7</i></a>
                        </div>
                        
                    </div>
                </div>

            </div>


        </div>
        
       

        <div id="commands" ng-click="maybeLoadShape($event)">


            <ul class="nav nav-tabs">
                <li class="imglogo">
                    <img id="logo" src="assets/inventools%20Logo.png">
                </li>
                <!--<li class="divider-vertical"></li>-->

                <li><a class="cardname" href="#scenario" data-toggle="tab">SCENARIO</a></li>
                <li><a class="cardname" href="#personas" data-toggle="tab">PERSONAS</a></li>
                <li><a class="cardname" href="#missions" data-toggle="tab">MISSIONS</a></li>
                <li><a class="cardname" href="#things" data-toggle="tab">THINGS</a></li>
                <li><a class="cardname" href="#humanactions" data-toggle="tab">HUMAN ACTIONS</a></li>
                <li><a class="cardname" href="#sensors" data-toggle="tab">SENSORS </a></li>
                <li><a class="cardname" href="#services" data-toggle="tab">SERVICES </a></li>
                <li><a class="cardname" href="#feedback" data-toggle="tab">FEEDBACK</a></li>
                <li><a class="cardname" href="#criteria" data-toggle="tab">CRITERIA</a></li>

                <!-- <li class="divider-vertical"></li>-->
				
				<li class="buttup">
                    <!--<a  ng-click="">-->
                  
                   <div class=" buttup upload-btn-wrapper ">
  <button class="btn btn-addcard"></button>
  <input type="file" name="myfile" id="imageLoader"/>
</div>
                </li>
                

                <li class="buttup"><button class="btn btn-info addbtn"></button></li>

                <li class="buttup">
                    <!--<a  ng-click="">-->
                  
                   <div class=" buttup upload-btn-wrapper ">
  <button class="btn btn-upload"></button>
  <input type="file" name="myfile" id="loadFile"/>
</div>
                </li>
                
               


                <!--  <li>
                    <div id="drawing-mode-wrapper">

                        <button id="drawing-mode" class="btn btn-info addbtn" ng-click="setFreeDrawingMode(!getFreeDrawingMode())" ng-class="{'btn-inverse': getFreeDrawingMode()}">
                            {[ getFreeDrawingMode() ? 'Esci da Disegna' : 'Disegna' ]}
                        </button>

                     <div id="drawing-mode-options" ng-show="getFreeDrawingMode()">
                            <label for="drawing-mode-selector">Mode:</label>
                            <select id="drawing-mode-selector" bind-value-to="drawingMode">
                                <option>Pencil</option>
                                <option>Circle</option>
                                <option>Spray</option>
                                <option>Pattern</option>

                                <option>hline</option>
                                <option>vline</option>
                                <option>square</option>
                                <option>diamond</option>
                                <option>texture</option>
                            </select>
                            <br>
                            <label for="drawing-line-width">Line width:</label>
                            <input type="range" value="30" min="0" max="150" bind-value-to="drawingLineWidth">
                            <br>
                            <label for="drawing-color">Line color:</label>
                            <input type="color" value="#005E7A" bind-value-to="drawingLineColor">
                            <br>
                            <label for="drawing-shadow-width">Line shadow width:</label>
                            <input type="range" value="0" min="0" max="50" bind-value-to="drawingLineShadowWidth">
                        </div>
                    </div>
                </li>-->


                <li class="buttup"><button class="btn btn-save addbtn  dropdown">

                        <div class="dropdown-content">
                            <p id="rasterize" onclick="saveAsFile()">Save</p>
                            <p id="rasterize" onclick="exportImage()">Export image</p>

                        </div>
                    </button></li>
                <!-- <li class="divider-vertical"></li>-->

                <li class="buttup"><button class="btn btn-danger clear addbtn" ng-click="confirmClear()"></button></li>


                <!-- <li>
                    
                    <button class="btn btn-success addbtn" id="rasterize" onclick="exportImage()">
                       
                    </button>
                    <button type="button" class="btn btn-info" onclick="saveAsFile()">
                       
                    </button>
                </li>-->

                <!--<li><a href="#canvastab" data-toggle="tab">Canvas</a></li>
                <li><a href="#load-svg-pane" data-toggle="tab">Load SVG</a></li>
                <li><a href="#execute-code" data-toggle="tab">Execute</a></li>
                <li><a href="#json-inout" data-toggle="tab">JSON</a></li>-->
            </ul>




            <div class="tab-content">


                <div class="tab-pane " id="scenario">

                    <!--<p>Add <strong>simple shapes</strong> to canvas:</p>
                      <p>
                        <button type="button" class="btn rect" ng-click="addRect()">Rectangle</button>
                        <button type="button" class="btn circle" ng-click="addCircle()">Circle</button>
                        <button type="button" class="btn triangle" ng-click="addTriangle()">Triangle</button>
                        <button type="button" class="btn line" ng-click="addLine()">Line</button>
                        <button type="button" class="btn polygon" ng-click="addPolygon()">Polygon</button>
                      </p>

                      <p>
                        <button class="btn" ng-click="addText()">Add text</button>
                        <button class="btn" ng-click="addIText()">Add Itext</button>
                        <button class="btn" ng-click="addTextbox()">Add textbox</button>
                        <button class="btn" ng-click="addPatternRect()">Add pattern rect</button>
                      </p> -->




                    <!-- <p>Add <strong>gradient-based shapes</strong> to canvas:</p>
 -->

                </div>


                <div class="tab-pane" id="personas">



                </div>

                <div class="tab-pane" id="things">



                </div>

                <div class="tab-pane" id="missions">


                </div>

                <div class="tab-pane" id="humanactions">



                </div>

                <div class="tab-pane" id="sensors">



                </div>

                <div class="tab-pane" id="services">



                </div>

                <div class="tab-pane" id="feedback">



                </div>

                <div class="tab-pane" id="criteria">



                </div>



                <div class="tab-pane " id="canvastab">
                    <div id="global-controls">
                        <!--<p id="complexity">
                            Canvas complexity (number of paths):
                            <strong>{[ canvas.complexity() ]}</strong>
                        </p>-->
                        <p>
                            Rasterize canvas to
                            <button class="btn btn-success" id="rasterize" ng-click="rasterize()">
                                Image
                            </button>
                            <button class="btn btn-success" id="rasterize" ng-click="rasterize3x()">
                                Image 3X multiplied
                            </button>
                            <button class="btn btn-success" id="rasterize-svg" ng-click="rasterizeSVG()">
                                SVG
                            </button>
                            <button class="btn btn-success" id="rasterize-json" ng-click="rasterizeJSON()">
                                JSON
                            </button>
                        </p>
                        <p>
                            <button class="btn btn-danger clear" ng-click="confirmClear()">Clear canvas</button>

                            <button class="btn btn-object-action" id="remove-selected" ng-click="removeSelected()">
                                Remove selected object/group
                            </button>
                        </p>
                        <!-- <p>
                            <label for="canvas-background-picker">Canvas background:</label>
                            <input type="color" bind-value-to="canvasBgColor">
                        </p>
                        <p>
                            <label>
                                Enable HIDPI (retina) scaling:
                                <input type="checkbox" name="enable-retina" bind-value-to="enableRetinaScaling">
                            </label>
                            <label>
                                Skip offscreen rendering:
                                <input type="checkbox" name="enable-retina" bind-value-to="skipOffscreen">
                            </label>
                            <br />
                            <label>
                                Preserve stacking:
                                <input type="checkbox" name="preserve-object-stacking" bind-value-to="preserveObjectStacking">
                            </label>
                            <label>
                                Controls above overlay:
                                <input type="checkbox" name="controls-abobe-overlay" bind-value-to="controlsAboveOverlay">
                            </label>
                        </p>-->
                    </div>
                    <div style="margin-top:10px;" id="drawing-mode-wrapper">

                        <button id="drawing-mode" class="btn btn-info" ng-click="setFreeDrawingMode(!getFreeDrawingMode())" ng-class="{'btn-inverse': getFreeDrawingMode()}">
                            {[ getFreeDrawingMode() ? 'Exit free drawing mode' : 'Enter free drawing mode' ]}
                        </button>

                        <div id="drawing-mode-options" ng-show="getFreeDrawingMode()">
                            <label for="drawing-mode-selector">Mode:</label>
                            <select id="drawing-mode-selector" bind-value-to="drawingMode">
                                <option>Pencil</option>
                                <option>Circle</option>
                                <option>Spray</option>
                                <option>Pattern</option>

                                <option>hline</option>
                                <option>vline</option>
                                <option>square</option>
                                <option>diamond</option>
                                <option>texture</option>
                            </select>
                            <br>
                            <label for="drawing-line-width">Line width:</label>
                            <input type="range" value="30" min="0" max="150" bind-value-to="drawingLineWidth">
                            <br>
                            <label for="drawing-color">Line color:</label>
                            <input type="color" value="#005E7A" bind-value-to="drawingLineColor">
                            <br>
                            <label for="drawing-shadow-width">Line shadow width:</label>
                            <input type="range" value="0" min="0" max="50" bind-value-to="drawingLineShadowWidth">
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="load-svg-pane">
                    <textarea id="svg-console" bind-value-to="consoleSVG"></textarea>
                    <button type="button" class="btn btn-info" ng-click="loadSVG()">
                        Load as Group
                    </button>
                    <button type="button" class="btn" ng-click="loadSVGWithoutGrouping()">
                        Load without grouping
                    </button>
                </div>

                <div class="tab-pane" id="execute-code">
                    <textarea id="canvas-console" bind-value-to="console">
        </textarea>
                    <button type="button" class="btn btn-info" ng-click="execute()">Execute</button>
                </div>

                <div class="tab-pane" id="json-inout">
                    <textarea id="json-console" bind-value-to="consoleJSON">
      </textarea>
                    <button type="button" class="btn btn-info" ng-click="loadJSON()">
                        Load
                    </button>
                    <button type="button" class="btn btn-info" ng-click="saveJSON()">
                        Save
                    </button>
                </div>

            </div>

        </div>
        
        <!--<div style="min-width: 800px; width: 800px;">
            rasterized canvas:<br />
            <img id="canvasRasterizer" /><br />
            svg canvas:<br />
            <div id="SVGRasterizer" style="display: inline-block" />
        </div>
        <!-- <script src="../../lib/centering_guidelines.js"></script>
<script src="../../lib/aligning_guidelines.js"></script> -->

        <script src="lib/font_definitions.js"></script>

        <script>
            var kitchensink = {};
            var canvas = new fabric.Canvas('canvas');

        </script>

        <script src="js/kitchensink/utils.js"></script>
        <script src="js/kitchensink/app_config.js"></script>
        <script src="js/kitchensink/controller.js"></script>

        <script>
            (function() {
                function renderVieportBorders() {
                    var ctx = canvas.getContext();

                    ctx.save();

                    ctx.fillStyle = 'rgba(0,0,0,0.1)';

                    ctx.fillRect(
                        canvas.viewportTransform[4],
                        canvas.viewportTransform[5],
                        canvas.getWidth() * canvas.getZoom(),
                        canvas.getHeight() * canvas.getZoom());

                    ctx.setLineDash([5, 5]);

                    ctx.strokeRect(
                        canvas.viewportTransform[4],
                        canvas.viewportTransform[5],
                        canvas.getWidth() * canvas.getZoom(),
                        canvas.getHeight() * canvas.getZoom());

                    ctx.restore();
                }
                canvas.on('object:selected', function(opt) {
                    var target = opt.target;
                    if (target._cacheCanvas) {

                    }
                })


                canvas.on('mouse:wheel', function(opt) {
                    var e = opt.e;
                    if (!e.ctrlKey) {
                        return;
                    }
                    var newZoom = canvas.getZoom() + e.deltaY / 300;
                    canvas.zoomToPoint({
                        x: e.offsetX,
                        y: e.offsetY
                    }, newZoom);

                    renderVieportBorders();
                    e.preventDefault();
                    return false;
                });

                var viewportLeft = 0,
                    viewportTop = 0,
                    mouseLeft,
                    mouseTop,
                    _drawSelection = canvas._drawSelection,
                    isDown = false;

                canvas.on('mouse:down', function(options) {
                    if (options.e.altKey) {
                        isDown = true;

                        viewportLeft = canvas.viewportTransform[4];
                        viewportTop = canvas.viewportTransform[5];

                        mouseLeft = options.e.x;
                        mouseTop = options.e.y;
                        _drawSelection = canvas._drawSelection;
                        canvas._drawSelection = function() {};
                        renderVieportBorders();
                    }
                });

                canvas.on('mouse:move', function(options) {
                    if (options.e.altKey && isDown) {
                        var currentMouseLeft = options.e.x;
                        var currentMouseTop = options.e.y;

                        var deltaLeft = currentMouseLeft - mouseLeft,
                            deltaTop = currentMouseTop - mouseTop;

                        canvas.viewportTransform[4] = viewportLeft + deltaLeft;
                        canvas.viewportTransform[5] = viewportTop + deltaTop;

                        canvas.renderAll();
                        renderVieportBorders();
                    }
                });

                canvas.on('mouse:up', function() {
                    canvas._drawSelection = _drawSelection;
                    isDown = false;
                });
            })();

        </script>

    </div>

    <script>
        (function() {
            var mainScriptEl = document.getElementById('main');
            if (!mainScriptEl) return;
            var preEl = document.createElement('pre');
            var codeEl = document.createElement('code');
            codeEl.innerHTML = mainScriptEl.innerHTML;
            codeEl.className = 'language-javascript';
            preEl.appendChild(codeEl);
            document.getElementById('bd-wrapper').appendChild(preEl);
        })();

    </script>

    <script>
        (function() {
            fabric.util.addListener(fabric.window, 'load', function() {
                var canvas = this.__canvas || this.canvas,
                    canvases = this.__canvases || this.canvases;

                canvas && canvas.calcOffset && canvas.calcOffset();

                if (canvases && canvases.length) {
                    for (var i = 0, len = canvases.length; i < len; i++) {
                        canvases[i].calcOffset();
                    }
                }
            });
        })();

    </script>


</body>

</html>
